body {
  background-color: indigo;
  color: #FFFFB3;
}

a {
    color: #FFFFB3;
}

#table * {
    border: 1px solid black;
    /* First number is top/bottom padding
    * next number is left/right padding
     */
    padding: 5px 20px;
    border-width: 1px solid black;
    border-color: black;
    text-align: center;
}